<ul>
  <li *ngFor="let everyObject of childObjects">
    <span #spanObject *ngIf="!everyObject.children">{{everyObject.value}}</span>
    <app-test-child-on #childCities [childObjects]="everyObject.children" *ngIf="everyObject.children">  </app-test-child-on>
  </li>
</ul>
<input type="text" ngModel="myinput">
<button (click)="print()">click</button>